<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Website</title>
        <!-- build:script inline noprocess critical -->
        <!-- /build -->
        <!-- build:remove dist -->
        <!-- bower:js -->
        <script defer src="bower_components/jquery/dist/jquery.js"></script>
        <script defer src="bower_components/is-loading/jquery.isloading.js"></script>
        <script defer src="bower_components/loadcss/src/loadCSS.js"></script>
        <script defer src="bower_components/jquery-lazy/jquery.lazy.min.js"></script>
        <script defer src="bower_components/jquery-validation/dist/jquery.validate.js"></script>
        <!-- endbower -->
        <!-- /build -->
        <!-- build:remove dist -->
        <script defer src="js/app.js"></script>
        <!-- /build -->
        <!-- build:remove dev -->
        <script defer src="js/app.min.js"></script>
        <!-- /build -->
        <!-- build:remove dist -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- /build -->
        <!-- build:remove dist -->
        <link rel="stylesheet" href="css/style.css">
        <!-- /build -->
        <!-- build:remove dev -->
        <link rel="stylesheet" href="css/style.min.css">
        <!-- /build -->
    </head>
    <body>
        <!-- build:section layout.preload -->
        <!-- /build -->
        <!-- build:section layout.cover -->
        <!-- /build -->
        <main>
            <!-- build:section partial.elementTest -->
            <!-- /build -->
        </main>
        <!-- build:section layout.footer -->
        <!-- /build -->
    </body>
</html>
</html>
