<div class="social-links">
    <div class="wrapper">
        <div class="social">
            <a href="http://www.facebook.com/" target="_blank"><img src="images/social-facebook.svg" alt="Facebook" /></a>
        </div>
        <div class="social">
            <a href="http://www.twitter.com/" target="_blank"><img src="images/social-twitter.svg" alt="Twitter" /></a>
        </div>
        <div class="social">
            <a href="http://www.youtube.com/h" target="_blank"><img src="images/social-youtube.svg" alt="YouTube" /></a>
        </div>
    </div>
</div>
